body{
   background-color: #111827;
}
#carouselExampleControls{
    margin-left: 20%;
    height: 400px;
}
.img-fluid:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.img-fluid{
    height: 100%;
}
.text-center{
    color: dodgerblue;
    padding: 30px;
    margin-top: 0px;
    border-radius: 20px;
}
.nav-span{
    color: salmon;
}
.explor-f{
    color: indigo;
}
.carousel-item{
    height:400px;
}